{% extends "layouts/base.html" %} 

{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = content %} 
{% set peopleItems = collections.people %} 

{% block content %}
  <article>
    {% include "partials/page-header.html" %} 
    {% if peopleItems %} 
      <div class="[ no-js-hidden ] [ panel dot-shadow ] [ bg-light-glare ]">
        <div class="[ wrapper ] [ flow flow-space-700 ]">
          <p> BENJIMAR was founded in 2022 as a way to give everyone a taste of history, culture, and
            minimalist decor that tells a story. As a private label brand, everything we offer at BENJIMAR™
            was curated to be an extension of who you are. From decorative book boxes to antique storage
            book cases, and beyond.
          </p>
          <p>
            Founded in Romania, BENJIMAR has become a global sensation that delivers products across
            the globe. Everyone loves a taste of antique history that represents more than decoration, but a
            sense of culture, and connection to something bigger.
          </p>
          <p>
            We’re a family-run company that cares about the details. For us, nothing is more important than
            the look on your face when you unbox a beautiful BENJIMAR gift that represents your style, and
            taste. Take your time to explore our product to get an understanding of what we are about.
          </p>

          <h2 class="[ headline ] [ measure-micro color-quinary ]" data-highlight="dark">Meet the team</h2>
          {% include "partials/people.html" %}
        </div>
      </div>
    {% endif %}
  </article>

  {% include "partials/cta.html" %} 
{% endblock %}