.site-foot {
    padding: get-size('500') 0 get-size('700') 0;
    text-align: center;

    p {
      font-family: Roseritta;
      src: url('/src/fonts/Roseritta.ttf') format('ttf'), url('/src/fonts/Roseritta.ttf') format('ttf');
  }

}